<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>
	<body class="{$stylename} function-list" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<div class="r-topbar-page">
			<div data-menu-width="full" 
				 
				class="r-topheader" 
				data-resize-name="topbar"
				data-body-align="left"
			>
								{BEGIN supertop_block}
<nav class="navbar navbar-default" 
	data-location="supertop" id="form_supertop_{$pageid}" data-makeup="topbar" {$form_supertop} data-pageid="{$pageid}" >
			 
							 
				<span data-cellId="supertop_c1" data-pageid="{$pageid}" class="r-align-left navbar-header" data-itemid="logo" {$item_logo}>
				{BEGIN logo_block}
	<A data-itemtype="logo" data-itemid="logo" {$item_logo} data-pageid="{$pageid}" class="navbar-brand" href="{$home_link}" data-pageid="{$pageid}" {$logo_hiddenattr}>
		{$logo}
	</A>
{END logo_block}
				<button data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">	
					<span class="sr-only">Toggle navigation</span>	
					<span class="icon-bar"></span>					
				</button>				
			</span>
		 
				<span data-cellId="supertop_c1" data-pageid="{$pageid}" class="r-align-left navbar-collapse" data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}">
				{$menu main horizontal}			</span>
							 
							 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="simple_search" {$item_simple_search} data-topcell-item-type="simple_search" >
				<span data-itemtype="simple_search" data-itemid="simple_search" {$item_simple_search} data-pageid="{$pageid}" class="form-group">

<div  class="input-group">
{BEGIN searchform_text}
	<input type="search" class="form-control" {$searchfor_attrs} size="25">
{END searchform_text}
	<span class="input-group-btn">
	{BEGIN searchform_showall}
		<button class="btn btn-default" {$showAllCont_attrs} {$showallbutton_attrs} title="Mostrar todo">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
	{END searchform_showall}
	{BEGIN searchform_search}
	<button {$searchbutton_attrs} class="btn btn-primary" >
		<span class="glyphicon glyphicon-search"></span>
	</button>
	{END searchform_search}
	</span>
</div>
		
</span>			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="list_options" {$item_list_options} data-topcell-item-type="list_options" >
				<span data-itemtype="list_options" data-itemid="list_options" {$item_list_options} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
							<span class="glyphicon glyphicon-cog"></span>
									<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
								<li data-itemtype="advsearch_link" data-itemid="advsearch_link" {$item_advsearch_link} data-pageid="{$pageid}" data-small >
				<a   href="vtik_interno_search.php{$stateLink_full}" {$advsearchlink_attrs}  title="" >
				
		Búsqueda avanzada		
		</a>
	</li>
							{BEGIN searchPanelTopButtons}
	<li data-itemtype="show_search_panel" data-itemid="show_search_panel" {$item_show_search_panel} data-pageid="{$pageid}" data-small >
				<a  id="showOptPanel{$id}"  title="" >
				
		Mostrar panel de búsqueda		
		</a>
	</li>
{END searchPanelTopButtons}
							{BEGIN searchPanelTopButtons}
	<li data-itemtype="hide_search_panel" data-itemid="hide_search_panel" {$item_hide_search_panel} data-pageid="{$pageid}" data-small >
				<a  id="hideOptPanel{$id}"  title="" >
				
		Ocultar panel de búsqueda		
		</a>
	</li>
{END searchPanelTopButtons}
					</ul>
	</span>
</span>
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="loginform_login" {$item_loginform_login} data-topcell-item-type="loginform_login" >
				{BEGIN guestloginbutton}
<span data-itemtype="loginform_login" data-itemid="loginform_login" {$item_loginform_login} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" href="#" {$guestloginlink_attrs} >
							Conectar			</a>
</span>
{END guestloginbutton}
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="username_button" {$item_username_button} data-topcell-item-type="username_button" >
				{BEGIN loggedas_message}
<span data-itemtype="username_button" data-itemid="username_button" {$item_username_button} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
							<span class="glyphicon glyphicon-user"></span>
						{$username}			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN logoutbutton}
	<li data-itemtype="logout_link" data-itemid="logout_link" {$item_logout_link} data-pageid="{$pageid}" data-small >
				<a  href="#" {$logoutlink_attrs}  title="" >
				
		Desconectarse		
		</a>
	</li>
{END logoutbutton}
							{BEGIN adminarea_link}
	<li data-itemtype="adminarea_link" data-itemid="adminarea_link" {$item_adminarea_link} data-pageid="{$pageid}" data-small >
				<a  href="admin_rights_list.php"  title="" >
				
		Area Admin		
		</a>
	</li>
{END adminarea_link}
							{BEGIN changepwd_link}
	<li data-itemtype="changepassword_link" data-itemid="changepassword_link" {$item_changepassword_link} data-pageid="{$pageid}" data-small >
				<a  href="#" {$changepwdlink_attrs}  title="" >
				
		Cambiar contraseña		
		</a>
	</li>
{END changepwd_link}
					</ul>
	</span>
</span>
{END loggedas_message}
			</span>
								</nav>
{END supertop_block}
					{$locking}
			</div>	
			<div data-body-align="left"  data-body-width="standard" class="r-body" data-resize-top="topbar" >
				<div class="r-top">
								{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="topbar" {$form_top} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	
">
		 
		{BEGIN breadcrumb}
<ol class="breadcrumb" data-itemtype="breadcrumb" data-itemid="breadcrumb" {$item_breadcrumb} data-pageid="{$pageid}">
<li ><a href="{$crumb_home_link}"><span class="glyphicon glyphicon-home"></span></a>{$crumb_dropdown}</li>
{BEGIN crumb}
  <li class="{$crumb_item_class}">
{BEGIN crumb_title_link}
	<a {$crumb_attrs}>{$crumb_title}</a>
{END crumb_title_link}
{BEGIN crumb_title_span}
	<span {$crumb_attrs}>{$crumb_title}</span>
{END crumb_title_span}	
	{$crumb_dropdown}
  </li>
{END crumb}
</ol>
{END breadcrumb}		</div>					</div>
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c3" data-pageid="{$pageid}"	{$cell_top_c3}
	class=" r-ori-vert			col-md-12
	
">
		 
		{BEGIN mastertable_block}
<div data-itemtype="master_info" data-itemid="master_info" {$item_master_info} data-pageid="{$pageid}">
	{$showmasterfile}
</div>
{END mastertable_block}		</div>					</div>
	</div>		
{END top_block}
					</div>
				<div class="r-content">
										<div class="r-left" {$blockattr_left} {$form_left} >
										{BEGIN left_block}
<table class="r-fluid r-form" data-location="left" id="form_left_{$pageid}" data-makeup="topbar" {$form_left} data-pageid="{$pageid}" >
						<tbody>
			
								<tr>
									<td 
	class=" r-ori-vert			"
			 
	data-cellId="left_c1" data-pageid="{$pageid}">
 
<!-- Begin Search panel content -->
<div class="searchOptions panel panel-primary searchPanelContainer " {$srchOpt_attrs} data-itemtype="search_panel" data-itemid="search_panel" {$item_search_panel} data-pageid="{$pageid}" >

	<div class="panel-heading">
		<div class="btn-group" id="addSearchFieldButton{$id}">
			<button id="showHideControlChooseMenu{$id}" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Búsqueda			<span class="caret"></span>
			</button>
		</div>


		<div class="btn-group searchpanel-options" id="searchPanelOptions{$id}">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="glyphicon glyphicon glyphicon-option-vertical"></span>
			</button>
			<ul class="dropdown-menu dropdown-left">
				<li id="showHideSearchType{$id}" {$showHideCtrlsOpt_attrs}><a>Mostrar opciones</a></li>
				<li role="separator" class="divider"></li>
				<li class="srchCritTop" style="display: none;"><a><input type="radio" name="srchType{$id}" id="radioAll" {$all_checkbox}><label for="radioAll"><span class="glyphicon">&nbsp;</span>todas las condiciones</label></a></li>
				<li class="srchCritTop" style="display: none;"><a><input type="radio" name="srchType{$id}" id="radioAny" {$any_checkbox}><label for="radioAny"><span class="glyphicon">&nbsp;</span>cualquier condición</label></a></li>
				<li role="separator" class="divider"></li>
				<li><a class="close-button"><span class="glyphicon glyphicon-remove">&nbsp;</span>esconder</a></li>
			</ul>
		</div>


		</div>
	<div class="panel-body controlsBlock" {$bottomSearchButt_attrs} >


		
		{BEGIN searchCtrlBlock}
		<div class="srchPanelRow form-group" {$filterRow_attrs}>
			<label>{$fLabel}</label>	{$delCtrlButt}
				<span class="rnr-searchtype">{$searchtype}</span>
				<span class="rnr-searchcontrol">{$searchcontrol}</span>
				<span class="rnr-searchcontrol">{$searchcontrol1}</span>
		</div>
		{END searchCtrlBlock}
																		{BEGIN searchCtrlBlock_Asunto}


		<div class="form-group srchPanelRow {$filterRow_class_Asunto}" {$filterRow_attrs_Asunto}>
			<label>{$label vtik_interno Asunto }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Asunto}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Asunto}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Asunto}</span>
						</div>
		{END searchCtrlBlock_Asunto}
																{BEGIN searchCtrlBlock_FechaAtencionFinal}


		<div class="form-group srchPanelRow {$filterRow_class_FechaAtencionFinal}" {$filterRow_attrs_FechaAtencionFinal}>
			<label>{$label vtik_interno FechaAtencionFinal }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_FechaAtencionFinal}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_FechaAtencionFinal}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_FechaAtencionFinal}</span>
						</div>
		{END searchCtrlBlock_FechaAtencionFinal}
																{BEGIN searchCtrlBlock_ProcesoAtencion}


		<div class="form-group srchPanelRow {$filterRow_class_ProcesoAtencion}" {$filterRow_attrs_ProcesoAtencion}>
			<label>{$label vtik_interno ProcesoAtencion }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_ProcesoAtencion}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_ProcesoAtencion}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_ProcesoAtencion}</span>
						</div>
		{END searchCtrlBlock_ProcesoAtencion}
																{BEGIN searchCtrlBlock_FechaAtencion}


		<div class="form-group srchPanelRow {$filterRow_class_FechaAtencion}" {$filterRow_attrs_FechaAtencion}>
			<label>{$label vtik_interno FechaAtencion }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_FechaAtencion}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_FechaAtencion}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_FechaAtencion}</span>
						</div>
		{END searchCtrlBlock_FechaAtencion}
																{BEGIN searchCtrlBlock_Documento}


		<div class="form-group srchPanelRow {$filterRow_class_Documento}" {$filterRow_attrs_Documento}>
			<label>{$label vtik_interno Documento }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Documento}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Documento}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Documento}</span>
						</div>
		{END searchCtrlBlock_Documento}
																{BEGIN searchCtrlBlock_TipoSolicitud}


		<div class="form-group srchPanelRow {$filterRow_class_TipoSolicitud}" {$filterRow_attrs_TipoSolicitud}>
			<label>{$label vtik_interno TipoSolicitud }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_TipoSolicitud}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_TipoSolicitud}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_TipoSolicitud}</span>
						</div>
		{END searchCtrlBlock_TipoSolicitud}
																{BEGIN searchCtrlBlock_UsuarioSolicitante}


		<div class="form-group srchPanelRow {$filterRow_class_UsuarioSolicitante}" {$filterRow_attrs_UsuarioSolicitante}>
			<label>{$label vtik_interno UsuarioSolicitante }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_UsuarioSolicitante}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_UsuarioSolicitante}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_UsuarioSolicitante}</span>
						</div>
		{END searchCtrlBlock_UsuarioSolicitante}
																{BEGIN searchCtrlBlock_UsuarioInicio}


		<div class="form-group srchPanelRow {$filterRow_class_UsuarioInicio}" {$filterRow_attrs_UsuarioInicio}>
			<label>{$label vtik_interno UsuarioInicio }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_UsuarioInicio}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_UsuarioInicio}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_UsuarioInicio}</span>
						</div>
		{END searchCtrlBlock_UsuarioInicio}
																{BEGIN searchCtrlBlock_Solicitud}


		<div class="form-group srchPanelRow {$filterRow_class_Solicitud}" {$filterRow_attrs_Solicitud}>
			<label>{$label vtik_interno Solicitud }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Solicitud}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Solicitud}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Solicitud}</span>
						</div>
		{END searchCtrlBlock_Solicitud}
																{BEGIN searchCtrlBlock_Observaciones}


		<div class="form-group srchPanelRow {$filterRow_class_Observaciones}" {$filterRow_attrs_Observaciones}>
			<label>{$label vtik_interno Observaciones }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Observaciones}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Observaciones}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Observaciones}</span>
						</div>
		{END searchCtrlBlock_Observaciones}
																{BEGIN searchCtrlBlock_FechaSolicitud}


		<div class="form-group srchPanelRow {$filterRow_class_FechaSolicitud}" {$filterRow_attrs_FechaSolicitud}>
			<label>{$label vtik_interno FechaSolicitud }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_FechaSolicitud}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_FechaSolicitud}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_FechaSolicitud}</span>
						</div>
		{END searchCtrlBlock_FechaSolicitud}
																{BEGIN searchCtrlBlock_FechaInicio}


		<div class="form-group srchPanelRow {$filterRow_class_FechaInicio}" {$filterRow_attrs_FechaInicio}>
			<label>{$label vtik_interno FechaInicio }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_FechaInicio}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_FechaInicio}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_FechaInicio}</span>
						</div>
		{END searchCtrlBlock_FechaInicio}
																{BEGIN searchCtrlBlock_FechaFinal}


		<div class="form-group srchPanelRow {$filterRow_class_FechaFinal}" {$filterRow_attrs_FechaFinal}>
			<label>{$label vtik_interno FechaFinal }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_FechaFinal}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_FechaFinal}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_FechaFinal}</span>
						</div>
		{END searchCtrlBlock_FechaFinal}
																{BEGIN searchCtrlBlock_Estado}


		<div class="form-group srchPanelRow {$filterRow_class_Estado}" {$filterRow_attrs_Estado}>
			<label>{$label vtik_interno Estado }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Estado}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Estado}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Estado}</span>
						</div>
		{END searchCtrlBlock_Estado}
																{BEGIN searchCtrlBlock_DescripcionAmplia}


		<div class="form-group srchPanelRow {$filterRow_class_DescripcionAmplia}" {$filterRow_attrs_DescripcionAmplia}>
			<label>{$label vtik_interno DescripcionAmplia }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_DescripcionAmplia}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_DescripcionAmplia}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_DescripcionAmplia}</span>
						</div>
		{END searchCtrlBlock_DescripcionAmplia}
																{BEGIN searchCtrlBlock_DepartamentoSolicitar}


		<div class="form-group srchPanelRow {$filterRow_class_DepartamentoSolicitar}" {$filterRow_attrs_DepartamentoSolicitar}>
			<label>{$label vtik_interno DepartamentoSolicitar }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_DepartamentoSolicitar}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_DepartamentoSolicitar}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_DepartamentoSolicitar}</span>
						</div>
		{END searchCtrlBlock_DepartamentoSolicitar}
																{BEGIN searchCtrlBlock_DepartamentoSolicitante}


		<div class="form-group srchPanelRow {$filterRow_class_DepartamentoSolicitante}" {$filterRow_attrs_DepartamentoSolicitante}>
			<label>{$label vtik_interno DepartamentoSolicitante }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_DepartamentoSolicitante}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_DepartamentoSolicitante}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_DepartamentoSolicitante}</span>
						</div>
		{END searchCtrlBlock_DepartamentoSolicitante}
		

	</div>

	<div class="panel-footer bottomSearchButt" {$bottomSearchButt_attrs}>
		<button class="btn btn-primary" id="searchButton{$id}" {$searchbutton_attrs}>Buscar</button>
		<button class="btn btn-default" {$showAllCont_attrs} {$showallbutton_attrs}>Mostrar todo</button>
	</div>
</div>
<!-- End Search panel content -->
</td>
							</tr>
					
					</tbody>
				</table>
{END left_block}
						</div>
										<div class="r-data-block" data-body-width="standard" >
						
										{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="topbar" {$form_above-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-6
	
">
		{BEGIN firstAboveGridCell}
				{END firstAboveGridCell}	
	</div>			 
				<div 
	data-cellId="above-grid_c2" data-pageid="{$pageid}"	{$cell_above-grid_c2}
	class="r-align-right			col-md-6
	
">
		 
		<span data-itemtype="details_found" data-itemid="details_found" {$item_details_found} data-pageid="{$pageid}" data-small >
{$details_found_labeldetails_found}
</span>	 
		<span data-itemtype="page_size" data-itemid="page_size" {$item_page_size} data-pageid="{$pageid}" >
		{$recsPerPage}
</span>	 
		{BEGIN print_friendly}
<span id="printpanelblock{$id}"  data-pageid="{$pageid}" {$printpanel_hiddenattr} data-itemtype="print_panel" data-itemid="print_panel" {$item_print_panel} data-pageid="{$pageid}">
	<button title="Página para imprimir" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					<span class="glyphicon glyphicon-print"></span>
				<span class="caret"></span>
	</button>
	<ul class="dropdown-menu pull-right">
										 
				 
					<li class="container-fluid 
										">
									<div id="print_friendly_scope{$id}">
	<div class="row">
		<div class="col-md-4">
			Rango:		</div>

		{BEGIN print_friendly_all}
		<div class="col-md-8">
			<label for="printAll{$id}">
				<input type="radio" id="printAll{$id}" data-href="vtik_interno_print.php?all=1&amp;{$crosstable_attrs}" name="printScope">
									Imprimir todas las páginas							</label>
		</div>
		{END print_friendly_all}
	</div>
	<div class="row">
		<div class="col-md-4">&nbsp;</div>
		<div class="col-md-8">
			<label for="printPage{$id}">
				<input name="printScope" id="printPage{$id}" type="radio" checked data-href="vtik_interno_print.php?{$crosstable_attrs}">
				Imprimir esta página			</label>
		</div>
	</div>
	
		<div class="row">
		<div class="col-md-4">
			&nbsp;
		</div>
		<div class="col-md-8">
			<label style="color: gray;" for="printSelection{$id}">
			<input name="printScope" disabled="disabled" id="printSelection{$id}" type="radio">
			Imprimir la selección			</label>
		</div>
	</div>
	</div>				 
					</li>
											<li class="divider" role="separator"></li>
																				 
				 
					<li class="container-fluid 
										">
									{BEGIN print_details}
<div>
	<label for="printDetailsToggler{$id}">
		<input type="checkbox" id="printDetailsToggler{$id}">
		Detalles de impresión	</label>
	<div  id="printdetailstables{$id}" style="display:none;">
											{BEGIN print_details_tik_documento}
			<div>
				<label for="printDetailstik_documento{$id}">
					<input type="checkbox" value="tik_documento" id="printDetailstik_documento{$id}" checked>
					Documentos				</label>
			</div>
			{END print_details_tik_documento}
														{BEGIN print_details_tik_restulado}
			<div>
				<label for="printDetailstik_restulado{$id}">
					<input type="checkbox" value="tik_restulado" id="printDetailstik_restulado{$id}" checked>
					Restulados				</label>
			</div>
			{END print_details_tik_restulado}
						</div>
</div>
{END print_details}
				 
					</li>
											<li class="divider" role="separator"></li>
																				 
				 
					<li class="container-fluid 
										">
									<div>
	<label for="printPerPage{$id}">
					Resultados por página							
	</label>
	<input type="number" id="printPerPage{$id}" value="{$print_recspp}" class="rnr-printrecspp">		
</div>
				 
					</li>
											<li class="divider" role="separator"></li>
																				 
				 
					<li class="container-fluid 
					 text-center 					">
									<span data-itemtype="print_button" data-itemid="print_button" {$item_print_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" id="print_friendly_button{$id}" >
							Imprimir			</a>
</span>
				 
					</li>
															</ul>
</span>
{END print_friendly}
		</div>					</div>
	</div>		
{END above-grid_block}
							
						<div class="r-grid">
										{BEGIN grid_block}
{BEGIN grid_tabs}
  <ul class="nav nav-tabs bsgrid_tabs">
	{$grid_tabs_content}
  </ul>
{END grid_tabs}
{BEGIN message_block}
<div data-grid-message data-pageid="{$pageid}" class="alert {$message_class}" role="alert" {$grid_message_attrs}>{$message}</div>
{END message_block}	<style>
@media screen and (max-width: 767px) {
		[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="Solicitud"]:before {
		content: "{$label vtik_interno Solicitud}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="Documento"]:before {
		content: "{$label vtik_interno Documento}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="TipoSolicitud"]:before {
		content: "{$label vtik_interno TipoSolicitud}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="DepartamentoSolicitante"]:before {
		content: "{$label vtik_interno DepartamentoSolicitante}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="UsuarioSolicitante"]:before {
		content: "{$label vtik_interno UsuarioSolicitante}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="DepartamentoSolicitar"]:before {
		content: "{$label vtik_interno DepartamentoSolicitar}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="Asunto"]:before {
		content: "{$label vtik_interno Asunto}";
	}
				[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="FechaSolicitud"]:before {
		content: "{$label vtik_interno FechaSolicitud}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="FechaInicio"]:before {
		content: "{$label vtik_interno FechaInicio}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="UsuarioInicio"]:before {
		content: "{$label vtik_interno UsuarioInicio}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="FechaFinal"]:before {
		content: "{$label vtik_interno FechaFinal}";
	}
					[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="Estado"]:before {
		content: "{$label vtik_interno Estado}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="FechaAtencion"]:before {
		content: "{$label vtik_interno FechaAtencion}";
	}
				[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="FechaExpiracion"]:before {
		content: "{$label vtik_interno FechaExpiracion}";
	}
				[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="FechaAtencionFinal"]:before {
		content: "{$label vtik_interno FechaAtencionFinal}";
	}
	}
</style>
<table data-location="grid" id="form_grid_{$pageid}" data-makeup="topbar" {$form_grid} data-pageid="{$pageid}" class=" table {$grid_classes}  r-flexgrid rnr-b-grid rnr-gridtable" 
	cellpadding="0" 
	data-body-height="2"
>
						<thead>
			{BEGIN grid_header}
					
		 
						<tr {$rowattrs} {$row_grid_0} class="{$rowclass} 
									{$gridHeader_class}
									
								r-gridrow
							">
				 
					{BEGIN cellblock_grid_headcell_icons}
	<th
	
	{$cell_grid_headcell_icons}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_headcell_icons" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="vtik_interno_list"		data-control-cell
	
	>

	
	</th>
	{END cellblock_grid_headcell_icons}
				 
					{BEGIN cellblock_grid_headcell_checkbox}
	<th
	
	{$cell_grid_headcell_checkbox}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_headcell_checkbox" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="vtik_interno_list"	
		data-checkbox-cell
	>

	 
		{BEGIN checkbox_column}
<span data-itemtype="grid_checkbox_head" data-itemid="grid_checkbox_head" {$item_grid_checkbox_head} data-pageid="{$pageid}" data-record-id="{$recId}" >
	<input type="checkbox" {$checkboxheader_attrs}>
</span>
{END checkbox_column}
	
	</th>
	{END cellblock_grid_headcell_checkbox}
				 
					{BEGIN cellblock_grid_headcell_details}
	<th
	
	{$cell_grid_headcell_details}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_headcell_details" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</th>
	{END cellblock_grid_headcell_details}
				 
					{BEGIN cellblock_grid_headcell_field}
	<th
	
	{$cell_grid_headcell_field}
	{$recordattrs}
	class="
		 r-ori-vert				{$Solicitud_class}
			"

			data-field="Solicitud"
	
	data-cellId="grid_headcell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Solicitud_fieldheadercolumn}
	{BEGIN Solicitud_fieldheader}
	<SPAN {$Solicitud_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field9" {$item_simple_grid_field9} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Solicitud">
	{$label vtik_interno Solicitud }	{$arrow_icon_Solicitud}
	</SPAN>
	{END Solicitud_fieldheader}
{END Solicitud_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field}
				 
					{BEGIN cellblock_grid_headcell_field1}
	<th
	
	{$cell_grid_headcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert				{$Documento_class}
			"

			data-field="Documento"
	
	data-cellId="grid_headcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Documento_fieldheadercolumn}
	{BEGIN Documento_fieldheader}
	<SPAN {$Documento_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="grid_field5" {$item_grid_field5} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Documento">
	{$label vtik_interno Documento }	{$arrow_icon_Documento}
	</SPAN>
	{END Documento_fieldheader}
{END Documento_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field1}
				 
					{BEGIN cellblock_grid_headcell_field2}
	<th
	
	{$cell_grid_headcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert				{$TipoSolicitud_class}
			"

			data-field="TipoSolicitud"
	
	data-cellId="grid_headcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN TipoSolicitud_fieldheadercolumn}
	{BEGIN TipoSolicitud_fieldheader}
	<SPAN {$TipoSolicitud_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field10" {$item_simple_grid_field10} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="TipoSolicitud">
	{$label vtik_interno TipoSolicitud }	{$arrow_icon_TipoSolicitud}
	</SPAN>
	{END TipoSolicitud_fieldheader}
{END TipoSolicitud_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field2}
				 
					{BEGIN cellblock_grid_headcell_field3}
	<th
	
	{$cell_grid_headcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert				{$DepartamentoSolicitante_class}
			"

			data-field="DepartamentoSolicitante"
	
	data-cellId="grid_headcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN DepartamentoSolicitante_fieldheadercolumn}
	{BEGIN DepartamentoSolicitante_fieldheader}
	<SPAN {$DepartamentoSolicitante_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field11" {$item_simple_grid_field11} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="DepartamentoSolicitante">
	{$label vtik_interno DepartamentoSolicitante }	{$arrow_icon_DepartamentoSolicitante}
	</SPAN>
	{END DepartamentoSolicitante_fieldheader}
{END DepartamentoSolicitante_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field3}
				 
					{BEGIN cellblock_grid_headcell_field4}
	<th
	
	{$cell_grid_headcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert				{$UsuarioSolicitante_class}
			"

			data-field="UsuarioSolicitante"
	
	data-cellId="grid_headcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN UsuarioSolicitante_fieldheadercolumn}
	{BEGIN UsuarioSolicitante_fieldheader}
	<SPAN {$UsuarioSolicitante_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field12" {$item_simple_grid_field12} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="UsuarioSolicitante">
	{$label vtik_interno UsuarioSolicitante }	{$arrow_icon_UsuarioSolicitante}
	</SPAN>
	{END UsuarioSolicitante_fieldheader}
{END UsuarioSolicitante_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field4}
				 
					{BEGIN cellblock_grid_headcell_field5}
	<th
	
	{$cell_grid_headcell_field5}
	{$recordattrs}
	class="
		 r-ori-vert				{$DepartamentoSolicitar_class}
			"

			data-field="DepartamentoSolicitar"
	
	data-cellId="grid_headcell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN DepartamentoSolicitar_fieldheadercolumn}
	{BEGIN DepartamentoSolicitar_fieldheader}
	<SPAN {$DepartamentoSolicitar_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field14" {$item_simple_grid_field14} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="DepartamentoSolicitar">
	{$label vtik_interno DepartamentoSolicitar }	{$arrow_icon_DepartamentoSolicitar}
	</SPAN>
	{END DepartamentoSolicitar_fieldheader}
{END DepartamentoSolicitar_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field5}
				 
					{BEGIN cellblock_grid_headcell_field6}
	<th
	
	{$cell_grid_headcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert				{$FechaSolicitud_class}
			"

			data-field="FechaSolicitud"
	
	data-cellId="grid_headcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN FechaSolicitud_fieldheadercolumn}
	{BEGIN FechaSolicitud_fieldheader}
	<SPAN {$FechaSolicitud_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field15" {$item_simple_grid_field15} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="FechaSolicitud">
	{$label vtik_interno FechaSolicitud }	{$arrow_icon_FechaSolicitud}
	</SPAN>
	{END FechaSolicitud_fieldheader}
{END FechaSolicitud_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field6}
				 
					{BEGIN cellblock_grid_headcell_field7}
	<th
	
	{$cell_grid_headcell_field7}
	{$recordattrs}
	class="
		 r-ori-vert				{$FechaExpiracion_class}
			"

			data-field="FechaExpiracion"
	
	data-cellId="grid_headcell_field7" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN FechaExpiracion_fieldheadercolumn}
	{BEGIN FechaExpiracion_fieldheader}
	<SPAN {$FechaExpiracion_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field16" {$item_simple_grid_field16} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="FechaExpiracion">
	{$label vtik_interno FechaExpiracion }	{$arrow_icon_FechaExpiracion}
	</SPAN>
	{END FechaExpiracion_fieldheader}
{END FechaExpiracion_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field7}
				 
					{BEGIN cellblock_grid_headcell_field8}
	<th
	
	{$cell_grid_headcell_field8}
	{$recordattrs}
	class="
		 r-ori-vert				{$Estado_class}
			"

			data-field="Estado"
	
	data-cellId="grid_headcell_field8" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Estado_fieldheadercolumn}
	{BEGIN Estado_fieldheader}
	<SPAN {$Estado_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field17" {$item_simple_grid_field17} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Estado">
	{$label vtik_interno Estado }	{$arrow_icon_Estado}
	</SPAN>
	{END Estado_fieldheader}
{END Estado_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field8}
				 
					{BEGIN cellblock_grid_headcell_field9}
	<th
	
	{$cell_grid_headcell_field9}
	{$recordattrs}
	class="
		 r-ori-vert				{$Asunto_class}
			"

			data-field="Asunto"
	
	data-cellId="grid_headcell_field9" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Asunto_fieldheadercolumn}
	{BEGIN Asunto_fieldheader}
	<SPAN {$Asunto_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field18" {$item_simple_grid_field18} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Asunto">
	{$label vtik_interno Asunto }	{$arrow_icon_Asunto}
	</SPAN>
	{END Asunto_fieldheader}
{END Asunto_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field9}
				 
					{BEGIN cellblock_grid_headcell_field10}
	<th
	
	{$cell_grid_headcell_field10}
	{$recordattrs}
	class="
		 r-ori-vert				{$FechaInicio_class}
			"

			data-field="FechaInicio"
	
	data-cellId="grid_headcell_field10" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN FechaInicio_fieldheadercolumn}
	{BEGIN FechaInicio_fieldheader}
	<SPAN {$FechaInicio_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="grid_field6" {$item_grid_field6} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="FechaInicio">
	{$label vtik_interno FechaInicio }	{$arrow_icon_FechaInicio}
	</SPAN>
	{END FechaInicio_fieldheader}
{END FechaInicio_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field10}
				 
					{BEGIN cellblock_grid_headcell_field11}
	<th
	
	{$cell_grid_headcell_field11}
	{$recordattrs}
	class="
		 r-ori-vert				{$UsuarioInicio_class}
			"

			data-field="UsuarioInicio"
	
	data-cellId="grid_headcell_field11" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN UsuarioInicio_fieldheadercolumn}
	{BEGIN UsuarioInicio_fieldheader}
	<SPAN {$UsuarioInicio_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="grid_field7" {$item_grid_field7} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="UsuarioInicio">
	{$label vtik_interno UsuarioInicio }	{$arrow_icon_UsuarioInicio}
	</SPAN>
	{END UsuarioInicio_fieldheader}
{END UsuarioInicio_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field11}
				 
					{BEGIN cellblock_grid_headcell_field12}
	<th
	
	{$cell_grid_headcell_field12}
	{$recordattrs}
	class="
		 r-ori-vert				{$FechaAtencion_class}
			"

			data-field="FechaAtencion"
	
	data-cellId="grid_headcell_field12" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN FechaAtencion_fieldheadercolumn}
	{BEGIN FechaAtencion_fieldheader}
	<SPAN {$FechaAtencion_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="grid_field8" {$item_grid_field8} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="FechaAtencion">
	{$label vtik_interno FechaAtencion }	{$arrow_icon_FechaAtencion}
	</SPAN>
	{END FechaAtencion_fieldheader}
{END FechaAtencion_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field12}
				 
					{BEGIN cellblock_grid_headcell_field13}
	<th
	
	{$cell_grid_headcell_field13}
	{$recordattrs}
	class="
		 r-ori-vert				{$FechaAtencionFinal_class}
			"

			data-field="FechaAtencionFinal"
	
	data-cellId="grid_headcell_field13" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN FechaAtencionFinal_fieldheadercolumn}
	{BEGIN FechaAtencionFinal_fieldheader}
	<SPAN {$FechaAtencionFinal_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field19" {$item_simple_grid_field19} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="FechaAtencionFinal">
	{$label vtik_interno FechaAtencionFinal }	{$arrow_icon_FechaAtencionFinal}
	</SPAN>
	{END FechaAtencionFinal_fieldheader}
{END FechaAtencionFinal_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field13}
				 
					{BEGIN cellblock_grid_headcell_field14}
	<th
	
	{$cell_grid_headcell_field14}
	{$recordattrs}
	class="
		 r-ori-vert				{$FechaFinal_class}
			"

			data-field="FechaFinal"
	
	data-cellId="grid_headcell_field14" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN FechaFinal_fieldheadercolumn}
	{BEGIN FechaFinal_fieldheader}
	<SPAN {$FechaFinal_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="grid_field9" {$item_grid_field9} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="FechaFinal">
	{$label vtik_interno FechaFinal }	{$arrow_icon_FechaFinal}
	</SPAN>
	{END FechaFinal_fieldheader}
{END FechaFinal_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field14}
							</tr>
					 
					 
					 
					
					{END grid_header}
			</thead>
															<tbody>
					{BEGIN grid_row}
									
		 
					 
						<tr {$rowattrs} {$row_grid_1} class="{$rowclass} 
								
								r-gridrow
							">
				 
					{BEGIN cellblock_grid_cell_icons}
	<td
	
	{$cell_grid_cell_icons}
	{$recordattrs}
	class="
					"

	
	data-cellId="grid_cell_icons" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="vtik_interno_list"		data-control-cell
	
	>

	 
		{BEGIN edit_column}
{BEGIN edit_link}
<span data-itemtype="grid_edit" data-itemid="grid_edit" {$item_grid_edit} data-pageid="{$pageid}" data-record-id="{$recId}" data-small data-button-item>
	<a type="button" title="Editar" class="btn-link   
	 glyphicon glyphicon-pencil" href="vtik_interno_edit.php?{$editlink}" {$editlink_attrs} title="Editar" >		
				
								</a>
</span>
{END edit_link}
{END edit_column}
	 
		{BEGIN view_column}
{BEGIN view_link}
<span data-itemtype="grid_view" data-itemid="grid_view" {$item_grid_view} data-pageid="{$pageid}" data-record-id="{$recId}" data-small data-button-item>
	<a type="button" title="Ver registro" class="btn-link   
	 glyphicon glyphicon-search" href="vtik_interno_view.php?{$editlink}" {$viewlink_attrs} title="Ver" >		
				
								</a>
</span>
{END view_link}
{END view_column}
	
	</td>
	{END cellblock_grid_cell_icons}
				 
					{BEGIN cellblock_grid_cell_checkbox}
	<td
	
	{$cell_grid_cell_checkbox}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_checkbox" data-pageid="{$pageid}" data-record-id="{$recId}"		data-control-cell
	
		data-checkbox-cell
	>

	 
		{BEGIN checkbox_column}
<span data-itemtype="grid_checkbox" data-itemid="grid_checkbox" {$item_grid_checkbox} data-pageid="{$pageid}" data-record-id="{$recId}" >
	<input type="checkbox" {$checkbox_attrs}>
</span>	
{END checkbox_column}
	
	</td>
	{END cellblock_grid_cell_checkbox}
				 
					{BEGIN cellblock_grid_cell_details}
	<td
	
	{$cell_grid_cell_details}
	{$recordattrs}
	class="
					"

	
	data-cellId="grid_cell_details" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="vtik_interno_list"		data-control-cell
	
	>

	 
		{BEGIN dtables_link}
	<a 
		data-itemtype="grid_alldetails_link" data-itemid="grid_alldetails_link" {$item_grid_alldetails_link} data-pageid="{$pageid}" data-record-id="{$recId}" 
		{$dtables_link_attrs} 
		class="{$dtables_link_class}" 
		title="Mostrar detalles"
	>
					<span class="glyphicon glyphicon-th-list"></span>
					</a>
{END dtables_link}
	 
		
		
	{BEGIN tik_documento_dtable_link}
	<span data-itemtype="grid_details_link" data-itemid="grid_details_link" {$item_grid_details_link} data-pageid="{$pageid}" data-record-id="{$recId}">
	<a  {$tik_documento_link_attrs} data-short-details="tik_documento"
		class="{$tik_documento_dlink_class}" 
		title="{$caption tik_documento }"	>
								
									{BEGIN tik_documento_childcount}
				<span class="details-badge badge tik_documento_badge" {$tik_documento_childnumber_attr}>
					{$tik_documento_childnumber}				
				</span>
				{END tik_documento_childcount}
						</a>
	</span>
	{END tik_documento_dtable_link}


	 
		
		
	{BEGIN tik_restulado_dtable_link}
	<span data-itemtype="grid_details_link" data-itemid="grid_details_link1" {$item_grid_details_link1} data-pageid="{$pageid}" data-record-id="{$recId}">
	<a  {$tik_restulado_link_attrs} data-short-details="tik_restulado"
		class="{$tik_restulado_dlink_class}" 
		title="{$caption tik_restulado }"	>
								
									{BEGIN tik_restulado_childcount}
				<span class="details-badge badge tik_restulado_badge" {$tik_restulado_childnumber_attr}>
					{$tik_restulado_childnumber}				
				</span>
				{END tik_restulado_childcount}
						</a>
	</span>
	{END tik_restulado_dtable_link}


	
	</td>
	{END cellblock_grid_cell_details}
				 
					{BEGIN cellblock_grid_cell_field}
	<td
	
	{$cell_grid_cell_field}
	{$recordattrs}
	class="
		 r-ori-vert				{$Solicitud_class}
			"

			data-field="Solicitud"
	
	data-cellId="grid_cell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Solicitud_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field" {$item_simple_grid_field} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Solicitud" data-default-width >
{$Solicitud_value}
</span>
{END Solicitud_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field}
				 
					{BEGIN cellblock_grid_cell_field1}
	<td
	
	{$cell_grid_cell_field1}
	{$recordattrs}
	class="
		 r-ori-vert				{$Documento_class}
			"

			data-field="Documento"
	
	data-cellId="grid_cell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Documento_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="grid_field3" {$item_grid_field3} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Documento" data-default-width >
{$Documento_value}
</span>
{END Documento_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field1}
				 
					{BEGIN cellblock_grid_cell_field2}
	<td
	
	{$cell_grid_cell_field2}
	{$recordattrs}
	class="
		 r-ori-vert				{$TipoSolicitud_class}
			"

			data-field="TipoSolicitud"
	
	data-cellId="grid_cell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN TipoSolicitud_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field6" {$item_simple_grid_field6} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="TipoSolicitud" data-default-width >
{$TipoSolicitud_value}
</span>
{END TipoSolicitud_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field2}
				 
					{BEGIN cellblock_grid_cell_field3}
	<td
	
	{$cell_grid_cell_field3}
	{$recordattrs}
	class="
		 r-ori-vert				{$DepartamentoSolicitante_class}
			"

			data-field="DepartamentoSolicitante"
	
	data-cellId="grid_cell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN DepartamentoSolicitante_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field2" {$item_simple_grid_field2} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="DepartamentoSolicitante" data-default-width >
{$DepartamentoSolicitante_value}
</span>
{END DepartamentoSolicitante_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field3}
				 
					{BEGIN cellblock_grid_cell_field4}
	<td
	
	{$cell_grid_cell_field4}
	{$recordattrs}
	class="
		 r-ori-vert				{$UsuarioSolicitante_class}
			"

			data-field="UsuarioSolicitante"
	
	data-cellId="grid_cell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN UsuarioSolicitante_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field3" {$item_simple_grid_field3} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="UsuarioSolicitante" data-default-width >
{$UsuarioSolicitante_value}
</span>
{END UsuarioSolicitante_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field4}
				 
					{BEGIN cellblock_grid_cell_field5}
	<td
	
	{$cell_grid_cell_field5}
	{$recordattrs}
	class="
		 r-ori-vert				{$DepartamentoSolicitar_class}
			"

			data-field="DepartamentoSolicitar"
	
	data-cellId="grid_cell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN DepartamentoSolicitar_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field4" {$item_simple_grid_field4} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="DepartamentoSolicitar" data-default-width >
{$DepartamentoSolicitar_value}
</span>
{END DepartamentoSolicitar_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field5}
				 
					{BEGIN cellblock_grid_cell_field6}
	<td
	
	{$cell_grid_cell_field6}
	{$recordattrs}
	class="
		 r-ori-vert				{$FechaSolicitud_class}
			"

			data-field="FechaSolicitud"
	
	data-cellId="grid_cell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN FechaSolicitud_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field7" {$item_simple_grid_field7} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="FechaSolicitud" data-default-width >
{$FechaSolicitud_value}
</span>
{END FechaSolicitud_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field6}
				 
					{BEGIN cellblock_grid_cell_field7}
	<td
	
	{$cell_grid_cell_field7}
	{$recordattrs}
	class="
		 r-ori-vert				{$FechaExpiracion_class}
			"

			data-field="FechaExpiracion"
	
	data-cellId="grid_cell_field7" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN FechaExpiracion_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field1" {$item_simple_grid_field1} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="FechaExpiracion" data-default-width >
{$FechaExpiracion_value}
</span>
{END FechaExpiracion_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field7}
				 
					{BEGIN cellblock_grid_cell_field8}
	<td
	
	{$cell_grid_cell_field8}
	{$recordattrs}
	class="
		 r-ori-vert				{$Estado_class}
			"

			data-field="Estado"
	
	data-cellId="grid_cell_field8" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Estado_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field13" {$item_simple_grid_field13} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Estado" data-default-width >
{$Estado_value}
</span>
{END Estado_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field8}
				 
					{BEGIN cellblock_grid_cell_field9}
	<td
	
	{$cell_grid_cell_field9}
	{$recordattrs}
	class="
		 r-ori-vert				{$Asunto_class}
			"

			data-field="Asunto"
	
	data-cellId="grid_cell_field9" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Asunto_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field5" {$item_simple_grid_field5} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Asunto" data-default-width >
{$Asunto_value}
</span>
{END Asunto_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field9}
				 
					{BEGIN cellblock_grid_cell_field10}
	<td
	
	{$cell_grid_cell_field10}
	{$recordattrs}
	class="
		 r-ori-vert				{$FechaInicio_class}
			"

			data-field="FechaInicio"
	
	data-cellId="grid_cell_field10" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN FechaInicio_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="grid_field" {$item_grid_field} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="FechaInicio" data-default-width >
{$FechaInicio_value}
</span>
{END FechaInicio_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field10}
				 
					{BEGIN cellblock_grid_cell_field11}
	<td
	
	{$cell_grid_cell_field11}
	{$recordattrs}
	class="
		 r-ori-vert				{$UsuarioInicio_class}
			"

			data-field="UsuarioInicio"
	
	data-cellId="grid_cell_field11" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN UsuarioInicio_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="grid_field1" {$item_grid_field1} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="UsuarioInicio" data-default-width >
{$UsuarioInicio_value}
</span>
{END UsuarioInicio_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field11}
				 
					{BEGIN cellblock_grid_cell_field12}
	<td
	
	{$cell_grid_cell_field12}
	{$recordattrs}
	class="
		 r-ori-vert				{$FechaAtencion_class}
			"

			data-field="FechaAtencion"
	
	data-cellId="grid_cell_field12" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN FechaAtencion_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="grid_field4" {$item_grid_field4} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="FechaAtencion" data-default-width >
{$FechaAtencion_value}
</span>
{END FechaAtencion_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field12}
				 
					{BEGIN cellblock_grid_cell_field13}
	<td
	
	{$cell_grid_cell_field13}
	{$recordattrs}
	class="
		 r-ori-vert				{$FechaAtencionFinal_class}
			"

			data-field="FechaAtencionFinal"
	
	data-cellId="grid_cell_field13" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN FechaAtencionFinal_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field8" {$item_simple_grid_field8} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="FechaAtencionFinal" data-default-width >
{$FechaAtencionFinal_value}
</span>
{END FechaAtencionFinal_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field13}
				 
					{BEGIN cellblock_grid_cell_field14}
	<td
	
	{$cell_grid_cell_field14}
	{$recordattrs}
	class="
		 r-ori-vert				{$FechaFinal_class}
			"

			data-field="FechaFinal"
	
	data-cellId="grid_cell_field14" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN FechaFinal_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="grid_field2" {$item_grid_field2} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="FechaFinal" data-default-width >
{$FechaFinal_value}
</span>
{END FechaFinal_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field14}
							</tr>
					 
						<tr {$rowattrs} {$row_grid_2} class="{$rowclass} 
								
							">
				 
					{BEGIN cellblock_grid_cell_dpreview}
	<td
	
	{$cell_grid_cell_dpreview}
	{$recordattrs}
	class="
					"

	
	data-cellId="grid_cell_dpreview" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
				<div data-itemtype="details_preview" data-itemid="details_preview" {$item_details_preview} data-pageid="{$pageid}" data-record-id="{$recId}" 
	data-orders="tik_documento,tik_restulado"
			data-details-tik_documento			data-details-tik_restulado	>
		<span data-details-inside data-short-table="tik_documento">
			</span>
		<span data-details-inside data-short-table="tik_restulado">
			</span>
		<div data-details-preview>
	</div>
</div>
	 
			
	</td>
	{END cellblock_grid_cell_dpreview}
							</tr>
					 
					
											{END grid_row}
					</tbody>
													<tfoot>
					
		 
					 
					 
					 
						<tr {$rowattrs} {$row_grid_3} class="{$rowclass} 
									{$gridFooter_class}
									
								r-gridrow
							">
				 
					{BEGIN cellblock_grid_footcell_icons}
	<td
	
	{$cell_grid_footcell_icons}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_icons" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_footcell_icons}
				 
					{BEGIN cellblock_grid_footcell_checkbox}
	<td
	
	{$cell_grid_footcell_checkbox}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_checkbox" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_footcell_checkbox}
				 
					{BEGIN cellblock_grid_footcell_details}
	<td
	
	{$cell_grid_footcell_details}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_details" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_footcell_details}
				 
					{BEGIN cellblock_grid_footcell_field}
	<td
	
	{$cell_grid_footcell_field}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="vtik_interno_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field}
				 
					{BEGIN cellblock_grid_footcell_field1}
	<td
	
	{$cell_grid_footcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="vtik_interno_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field1}
				 
					{BEGIN cellblock_grid_footcell_field2}
	<td
	
	{$cell_grid_footcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="vtik_interno_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field2}
				 
					{BEGIN cellblock_grid_footcell_field3}
	<td
	
	{$cell_grid_footcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="vtik_interno_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field3}
				 
					{BEGIN cellblock_grid_footcell_field4}
	<td
	
	{$cell_grid_footcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="vtik_interno_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field4}
				 
					{BEGIN cellblock_grid_footcell_field5}
	<td
	
	{$cell_grid_footcell_field5}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field5" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="vtik_interno_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field5}
				 
					{BEGIN cellblock_grid_footcell_field6}
	<td
	
	{$cell_grid_footcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="vtik_interno_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field6}
				 
					{BEGIN cellblock_grid_footcell_field7}
	<td
	
	{$cell_grid_footcell_field7}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field7" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="vtik_interno_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field7}
				 
					{BEGIN cellblock_grid_footcell_field8}
	<td
	
	{$cell_grid_footcell_field8}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field8" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="vtik_interno_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field8}
				 
					{BEGIN cellblock_grid_footcell_field9}
	<td
	
	{$cell_grid_footcell_field9}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field9" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="vtik_interno_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field9}
				 
					{BEGIN cellblock_grid_footcell_field10}
	<td
	
	{$cell_grid_footcell_field10}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field10" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="vtik_interno_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field10}
				 
					{BEGIN cellblock_grid_footcell_field11}
	<td
	
	{$cell_grid_footcell_field11}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field11" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="vtik_interno_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field11}
				 
					{BEGIN cellblock_grid_footcell_field12}
	<td
	
	{$cell_grid_footcell_field12}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field12" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="vtik_interno_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field12}
				 
					{BEGIN cellblock_grid_footcell_field13}
	<td
	
	{$cell_grid_footcell_field13}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field13" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="vtik_interno_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field13}
				 
					{BEGIN cellblock_grid_footcell_field14}
	<td
	
	{$cell_grid_footcell_field14}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field14" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="vtik_interno_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field14}
							</tr>
					
					</tfoot>
				</table>
{END grid_block}
							</div>
						
										{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="topbar" {$form_below-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="r-align-center r-ori-vert			col-md-12
	
">
		 
		{BEGIN pagination_block}
<span data-itemtype="pagination" data-itemid="pagination" {$item_pagination} data-pageid="{$pageid}" >
{$pagination}
</span>
{END pagination_block}
		</div>					</div>
	</div>		
{END below-grid_block}
							
					</div>
				</div>
			</div>
		</div>
		{$footer}
	{END body}
	</body>
</html>
