<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-view" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" >{$pagetitlelabel vtik_interno view}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN Solicitud_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Solicitud}  r-vertical-field" data-fieldname="Solicitud" data-signal-error-for="Solicitud{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="Solicitud" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Solicitud}">
		
		{BEGIN Solicitud_label}{$label vtik_interno Solicitud }{END Solicitud_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Solicitud_value}	</div>

		
</div>


{END Solicitud_fieldblock}
											
{BEGIN Documento_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Documento}  r-vertical-field" data-fieldname="Documento" data-signal-error-for="Documento{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field12" {$item_integrated_edit_field12} data-pageid="{$pageid}" data-field="Documento" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Documento}">
		
		{BEGIN Documento_label}{$label vtik_interno Documento }{END Documento_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Documento_value}	</div>

		
</div>


{END Documento_fieldblock}
											
{BEGIN TipoSolicitud_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_TipoSolicitud}  r-vertical-field" data-fieldname="TipoSolicitud" data-signal-error-for="TipoSolicitud{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="TipoSolicitud" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_TipoSolicitud}">
		
		{BEGIN TipoSolicitud_label}{$label vtik_interno TipoSolicitud }{END TipoSolicitud_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$TipoSolicitud_value}	</div>

		
</div>


{END TipoSolicitud_fieldblock}
											
{BEGIN UsuarioSolicitante_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_UsuarioSolicitante}  r-vertical-field" data-fieldname="UsuarioSolicitante" data-signal-error-for="UsuarioSolicitante{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="UsuarioSolicitante" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_UsuarioSolicitante}">
		
		{BEGIN UsuarioSolicitante_label}{$label vtik_interno UsuarioSolicitante }{END UsuarioSolicitante_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$UsuarioSolicitante_value}	</div>

		
</div>


{END UsuarioSolicitante_fieldblock}
											
{BEGIN DepartamentoSolicitante_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_DepartamentoSolicitante}  r-vertical-field" data-fieldname="DepartamentoSolicitante" data-signal-error-for="DepartamentoSolicitante{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="DepartamentoSolicitante" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_DepartamentoSolicitante}">
		
		{BEGIN DepartamentoSolicitante_label}{$label vtik_interno DepartamentoSolicitante }{END DepartamentoSolicitante_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$DepartamentoSolicitante_value}	</div>

		
</div>


{END DepartamentoSolicitante_fieldblock}
											
{BEGIN DepartamentoSolicitar_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_DepartamentoSolicitar}  r-vertical-field" data-fieldname="DepartamentoSolicitar" data-signal-error-for="DepartamentoSolicitar{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="DepartamentoSolicitar" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_DepartamentoSolicitar}">
		
		{BEGIN DepartamentoSolicitar_label}{$label vtik_interno DepartamentoSolicitar }{END DepartamentoSolicitar_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$DepartamentoSolicitar_value}	</div>

		
</div>


{END DepartamentoSolicitar_fieldblock}
											
{BEGIN Asunto_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Asunto}  r-vertical-field" data-fieldname="Asunto" data-signal-error-for="Asunto{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="Asunto" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Asunto}">
		
		{BEGIN Asunto_label}{$label vtik_interno Asunto }{END Asunto_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Asunto_value}	</div>

		
</div>


{END Asunto_fieldblock}
											
{BEGIN DescripcionAmplia_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_DescripcionAmplia}  r-vertical-field" data-fieldname="DescripcionAmplia" data-signal-error-for="DescripcionAmplia{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="DescripcionAmplia" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_DescripcionAmplia}">
		
		{BEGIN DescripcionAmplia_label}{$label vtik_interno DescripcionAmplia }{END DescripcionAmplia_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$DescripcionAmplia_value}	</div>

		
</div>


{END DescripcionAmplia_fieldblock}
											
{BEGIN FechaSolicitud_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_FechaSolicitud}  r-vertical-field" data-fieldname="FechaSolicitud" data-signal-error-for="FechaSolicitud{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="FechaSolicitud" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_FechaSolicitud}">
		
		{BEGIN FechaSolicitud_label}{$label vtik_interno FechaSolicitud }{END FechaSolicitud_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$FechaSolicitud_value}	</div>

		
</div>


{END FechaSolicitud_fieldblock}
											
{BEGIN Estado_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Estado}  r-vertical-field" data-fieldname="Estado" data-signal-error-for="Estado{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field13" {$item_integrated_edit_field13} data-pageid="{$pageid}" data-field="Estado" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Estado}">
		
		{BEGIN Estado_label}{$label vtik_interno Estado }{END Estado_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Estado_value}	</div>

		
</div>


{END Estado_fieldblock}
											
{BEGIN FechaInicio_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_FechaInicio}  r-vertical-field" data-fieldname="FechaInicio" data-signal-error-for="FechaInicio{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="FechaInicio" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_FechaInicio}">
		
		{BEGIN FechaInicio_label}{$label vtik_interno FechaInicio }{END FechaInicio_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$FechaInicio_value}	</div>

		
</div>


{END FechaInicio_fieldblock}
											
{BEGIN UsuarioInicio_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_UsuarioInicio}  r-vertical-field" data-fieldname="UsuarioInicio" data-signal-error-for="UsuarioInicio{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="UsuarioInicio" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_UsuarioInicio}">
		
		{BEGIN UsuarioInicio_label}{$label vtik_interno UsuarioInicio }{END UsuarioInicio_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$UsuarioInicio_value}	</div>

		
</div>


{END UsuarioInicio_fieldblock}
											
{BEGIN FechaAtencion_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_FechaAtencion}  r-vertical-field" data-fieldname="FechaAtencion" data-signal-error-for="FechaAtencion{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field14" {$item_integrated_edit_field14} data-pageid="{$pageid}" data-field="FechaAtencion" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_FechaAtencion}">
		
		{BEGIN FechaAtencion_label}{$label vtik_interno FechaAtencion }{END FechaAtencion_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$FechaAtencion_value}	</div>

		
</div>


{END FechaAtencion_fieldblock}
											
{BEGIN ProcesoAtencion_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_ProcesoAtencion}  r-vertical-field" data-fieldname="ProcesoAtencion" data-signal-error-for="ProcesoAtencion{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field15" {$item_integrated_edit_field15} data-pageid="{$pageid}" data-field="ProcesoAtencion" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_ProcesoAtencion}">
		
		{BEGIN ProcesoAtencion_label}{$label vtik_interno ProcesoAtencion }{END ProcesoAtencion_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$ProcesoAtencion_value}	</div>

		
</div>


{END ProcesoAtencion_fieldblock}
											
{BEGIN FechaFinal_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_FechaFinal}  r-vertical-field" data-fieldname="FechaFinal" data-signal-error-for="FechaFinal{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="FechaFinal" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_FechaFinal}">
		
		{BEGIN FechaFinal_label}{$label vtik_interno FechaFinal }{END FechaFinal_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$FechaFinal_value}	</div>

		
</div>


{END FechaFinal_fieldblock}
											
{BEGIN Observaciones_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Observaciones}  r-vertical-field" data-fieldname="Observaciones" data-signal-error-for="Observaciones{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="Observaciones" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Observaciones}">
		
		{BEGIN Observaciones_label}{$label vtik_interno Observaciones }{END Observaciones_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Observaciones_value}	</div>

		
</div>


{END Observaciones_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							Cerrar ventana			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
							<span class="glyphicon glyphicon-menu-hamburger"></span>
									<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN edit_page_button}
	<li data-itemtype="view_edit" data-itemid="view_edit" {$item_view_edit} data-pageid="{$pageid}" data-small >
				<a  href="vtik_interno_edit.php?{$editlink}" {$edit_page_button_attrs}  title="" >
				
		Editar		
		</a>
	</li>
{END edit_page_button}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
