<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-view" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" >{$pagetitlelabel vtik_memorando_hist view}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN NoMemorando_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_NoMemorando}  r-vertical-field" data-fieldname="NoMemorando" data-signal-error-for="NoMemorando{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="NoMemorando" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_NoMemorando}">
		
		{BEGIN NoMemorando_label}{$label vtik_memorando_hist NoMemorando }{END NoMemorando_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$NoMemorando_value}	</div>

		
</div>


{END NoMemorando_fieldblock}
											
{BEGIN Fecha_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Fecha}  r-vertical-field" data-fieldname="Fecha" data-signal-error-for="Fecha{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="Fecha" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Fecha}">
		
		{BEGIN Fecha_label}{$label vtik_memorando_hist Fecha }{END Fecha_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Fecha_value}	</div>

		
</div>


{END Fecha_fieldblock}
											
{BEGIN De_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_De}  r-vertical-field" data-fieldname="De" data-signal-error-for="De{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="De" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_De}">
		
		{BEGIN De_label}{$label vtik_memorando_hist De }{END De_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$De_value}	</div>

		
</div>


{END De_fieldblock}
											
{BEGIN Todos_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Todos}  r-vertical-field" data-fieldname="Todos" data-signal-error-for="Todos{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="Todos" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Todos}">
		
		{BEGIN Todos_label}{$label vtik_memorando_hist Todos }{END Todos_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Todos_value}	</div>

		
</div>


{END Todos_fieldblock}
											
{BEGIN A_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_A}  r-vertical-field" data-fieldname="A" data-signal-error-for="A{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="A" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_A}">
		
		{BEGIN A_label}{$label vtik_memorando_hist A }{END A_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$A_value}	</div>

		
</div>


{END A_fieldblock}
											
{BEGIN Descripcion_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Descripcion}  r-vertical-field" data-fieldname="Descripcion" data-signal-error-for="Descripcion{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="Descripcion" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Descripcion}">
		
		{BEGIN Descripcion_label}{$label vtik_memorando_hist Descripcion }{END Descripcion_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Descripcion_value}	</div>

		
</div>


{END Descripcion_fieldblock}
											
{BEGIN Texto_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Texto}  r-vertical-field" data-fieldname="Texto" data-signal-error-for="Texto{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="Texto" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Texto}">
		
		{BEGIN Texto_label}{$label vtik_memorando_hist Texto }{END Texto_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Texto_value}	</div>

		
</div>


{END Texto_fieldblock}
											
{BEGIN ADepartamento_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_ADepartamento}  r-vertical-field" data-fieldname="ADepartamento" data-signal-error-for="ADepartamento{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="ADepartamento" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_ADepartamento}">
		
		{BEGIN ADepartamento_label}{$label vtik_memorando_hist ADepartamento }{END ADepartamento_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$ADepartamento_value}	</div>

		
</div>


{END ADepartamento_fieldblock}
											
{BEGIN DocumentoAdjunto1_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_DocumentoAdjunto1}  r-vertical-field" data-fieldname="DocumentoAdjunto1" data-signal-error-for="DocumentoAdjunto1{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="DocumentoAdjunto1" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_DocumentoAdjunto1}">
		
		{BEGIN DocumentoAdjunto1_label}{$label vtik_memorando_hist DocumentoAdjunto1 }{END DocumentoAdjunto1_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$DocumentoAdjunto1_value}	</div>

		
</div>


{END DocumentoAdjunto1_fieldblock}
											
{BEGIN DocumentoAdjunto2_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_DocumentoAdjunto2}  r-vertical-field" data-fieldname="DocumentoAdjunto2" data-signal-error-for="DocumentoAdjunto2{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="DocumentoAdjunto2" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_DocumentoAdjunto2}">
		
		{BEGIN DocumentoAdjunto2_label}{$label vtik_memorando_hist DocumentoAdjunto2 }{END DocumentoAdjunto2_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$DocumentoAdjunto2_value}	</div>

		
</div>


{END DocumentoAdjunto2_fieldblock}
											
{BEGIN DocumentoAdjunto3_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_DocumentoAdjunto3}  r-vertical-field" data-fieldname="DocumentoAdjunto3" data-signal-error-for="DocumentoAdjunto3{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="DocumentoAdjunto3" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_DocumentoAdjunto3}">
		
		{BEGIN DocumentoAdjunto3_label}{$label vtik_memorando_hist DocumentoAdjunto3 }{END DocumentoAdjunto3_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$DocumentoAdjunto3_value}	</div>

		
</div>


{END DocumentoAdjunto3_fieldblock}
											
{BEGIN FechaExpiracion_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_FechaExpiracion}  r-vertical-field" data-fieldname="FechaExpiracion" data-signal-error-for="FechaExpiracion{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="FechaExpiracion" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_FechaExpiracion}">
		
		{BEGIN FechaExpiracion_label}{$label vtik_memorando_hist FechaExpiracion }{END FechaExpiracion_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$FechaExpiracion_value}	</div>

		
</div>


{END FechaExpiracion_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							Cerrar ventana			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
