<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-edit" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="edit_header" data-itemid="edit_header" {$item_edit_header} data-pageid="{$pageid}" >{$pagetitlelabel zdepartamentos edit}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<div data-itemtype="edit_message" data-itemid="edit_message" {$item_edit_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN back_button}
			<button class="btn btn-sm btn-default" {$backbutton_attrs}>Volver a la lista</button>
	{END back_button}
{BEGIN view_page_button}
		<a class="btn btn-sm btn-default" href="zdepartamentos_view.php?{$editlink}" {$view_page_button_attrs}>Ver</a>
{END view_page_button}
</div>
</div>
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN Descripcion_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Descripcion}  r-vertical-field" 
	data-fieldname="Descripcion" 
	data-signal-error-for="Descripcion{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="Descripcion" >


	<label class="r-edit-label control-label" for="{$labelfor_Descripcion}">
		{BEGIN Descripcion_label}{$label zdepartamentos Descripcion }{END Descripcion_label}
	</label>
	<div class="r-edit-field">
		{$Descripcion_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Descripcion">
		<div class="text-muted" >
		{$tooltip zdepartamentos Descripcion }		</div>
	</div>
</div>


{END Descripcion_fieldblock}
											
{BEGIN Programa_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Programa}  r-vertical-field" 
	data-fieldname="Programa" 
	data-signal-error-for="Programa{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="Programa" >


	<label class="r-edit-label control-label" for="{$labelfor_Programa}">
		{BEGIN Programa_label}{$label zdepartamentos Programa }{END Programa_label}
	</label>
	<div class="r-edit-field">
		{$Programa_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Programa">
		<div class="text-muted" >
		{$tooltip zdepartamentos Programa }		</div>
	</div>
</div>


{END Programa_fieldblock}
											
{BEGIN Actividad_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Actividad}  r-vertical-field" 
	data-fieldname="Actividad" 
	data-signal-error-for="Actividad{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="Actividad" >


	<label class="r-edit-label control-label" for="{$labelfor_Actividad}">
		{BEGIN Actividad_label}{$label zdepartamentos Actividad }{END Actividad_label}
	</label>
	<div class="r-edit-field">
		{$Actividad_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Actividad">
		<div class="text-muted" >
		{$tooltip zdepartamentos Actividad }		</div>
	</div>
</div>


{END Actividad_fieldblock}
											
{BEGIN Usuario_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Usuario}  r-vertical-field" 
	data-fieldname="Usuario" 
	data-signal-error-for="Usuario{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="Usuario" >


	<label class="r-edit-label control-label" for="{$labelfor_Usuario}">
		{BEGIN Usuario_label}{$label zdepartamentos Usuario }{END Usuario_label}
	</label>
	<div class="r-edit-field">
		{$Usuario_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Usuario">
		<div class="text-muted" >
		{$tooltip zdepartamentos Usuario }		</div>
	</div>
</div>


{END Usuario_fieldblock}
											
{BEGIN FechaSis_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_FechaSis}  r-vertical-field" 
	data-fieldname="FechaSis" 
	data-signal-error-for="FechaSis{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="FechaSis" >


	<label class="r-edit-label control-label" for="{$labelfor_FechaSis}">
		{BEGIN FechaSis_label}{$label zdepartamentos FechaSis }{END FechaSis_label}
	</label>
	<div class="r-edit-field">
		{$FechaSis_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="FechaSis">
		<div class="text-muted" >
		{$tooltip zdepartamentos FechaSis }		</div>
	</div>
</div>


{END FechaSis_fieldblock}
											
{BEGIN Proceso_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Proceso}  r-vertical-field" 
	data-fieldname="Proceso" 
	data-signal-error-for="Proceso{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="Proceso" >


	<label class="r-edit-label control-label" for="{$labelfor_Proceso}">
		{BEGIN Proceso_label}{$label zdepartamentos Proceso }{END Proceso_label}
	</label>
	<div class="r-edit-field">
		{$Proceso_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Proceso">
		<div class="text-muted" >
		{$tooltip zdepartamentos Proceso }		</div>
	</div>
</div>


{END Proceso_fieldblock}
											
{BEGIN Nomenclatura_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Nomenclatura}  r-vertical-field" 
	data-fieldname="Nomenclatura" 
	data-signal-error-for="Nomenclatura{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="Nomenclatura" >


	<label class="r-edit-label control-label" for="{$labelfor_Nomenclatura}">
		{BEGIN Nomenclatura_label}{$label zdepartamentos Nomenclatura }{END Nomenclatura_label}
	</label>
	<div class="r-edit-field">
		{$Nomenclatura_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Nomenclatura">
		<div class="text-muted" >
		{$tooltip zdepartamentos Nomenclatura }		</div>
	</div>
</div>


{END Nomenclatura_fieldblock}
											
{BEGIN Tipo_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Tipo}  r-vertical-field" 
	data-fieldname="Tipo" 
	data-signal-error-for="Tipo{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="Tipo" >


	<label class="r-edit-label control-label" for="{$labelfor_Tipo}">
		{BEGIN Tipo_label}{$label zdepartamentos Tipo }{END Tipo_label}
	</label>
	<div class="r-edit-field">
		{$Tipo_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Tipo">
		<div class="text-muted" >
		{$tooltip zdepartamentos Tipo }		</div>
	</div>
</div>


{END Tipo_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN save_edit}
<span data-itemtype="edit_save" data-itemid="edit_save" {$item_edit_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
							Guardar			</a>
</span>
{END save_edit}
	 
		{BEGIN back_button}
<span data-itemtype="edit_back_list" data-itemid="edit_back_list" {$item_edit_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="edit_close" data-itemid="edit_close" {$item_edit_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$closebutton_attrs} >
							Cancelar			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
							<span class="glyphicon glyphicon-menu-hamburger"></span>
									<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
								<li data-itemtype="edit_reset" data-itemid="edit_reset" {$item_edit_reset} data-pageid="{$pageid}" data-small >
				<a  {$resetbutton_attrs}  title="" >
				
		Reiniciar		
		</a>
	</li>
							{BEGIN view_page_button}
	<li data-itemtype="edit_view" data-itemid="edit_view" {$item_edit_view} data-pageid="{$pageid}" data-small >
				<a  href="zdepartamentos_view.php?{$editlink}" {$view_page_button_attrs}  title="" >
				
		Ver		
		</a>
	</li>
{END view_page_button}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
